* {
    /*  border: solid !important;*/
}


.navbar-nav :hover {
    color: var(--red-color) !important;

}

nav a.rounded-pill:hover {
    color: black !important
}

.img-col {
    background-image: url(../img/baner-dec-left.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;

}

.page-link {
    position: relative;
    display: block;
    color: black;

    background-color: #fff;
    border: none !important;
    /*  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;*/
}

.page-item.active .page-link {
    z-index: 3;
    color: var(--red-color);
    background-color: white !important;
    border-color: #fff;
    text-decoration: underline;
}

.page-link:hover {
    z-index: 2;
    color: var(--red-color);
    text-decoration: underline;
    background-color: #fff;
    border-color: #fff;
}

.page-link:focus {
    z-index: 3;
    color: var(--red-color);
    background-color: #fff;
    outline: none;
    border-color: white;
    text-shadow: none !important;
    outline-color: white;
}

.sec2-container {
    background-image: url(../img/services-left-dec.png);
    background-repeat: no-repeat;
    background-size: 27%;
    background-position-y: 10%;
    background-position: top left;

}

.sec4-container {

    background-image: url(../img/portfolio-left-dec.png);
    background-repeat: no-repeat;
    background-size: 23%;
    background-position-x: 90%;
    background-position: top left;

}

.sec2-grand-container {
    background-image: url(../img/services-right-dec.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: 100%;
    background-position-x: 94%;
    padding-bottom: 5%;
}


/***********************************************************************************************/

@media (max-width: 990px) {
    .img-col {
        background-image: url(../img/baner-dec-left-copy.png);
        background-position: center;
        background-size: 100% 100%;
        min-height: 180px;

    }
}

@media (max-width:1440px) {

    nav a.rounded-pill {
        /* min-width: 30%;*/
        margin-left: 0 !important;
        text-align: center;
    }

    .container-links {
        width: 100% !important;
        padding: 0 !important;
    }
}



@media (max-width:992px) {

    nav a {

        border-top: solid thin;
    }

    .active {
        border-top: none;
    }

    #navbarNavAltMarkup {
        animation: fadeInLeft;
        animation-duration: 1.5s;
    }

    nav a.rounded-pill {
        margin-left: 0 !important;
        text-align: center;
    }

    .img-seo {
        transform: rotate(90deg);
        padding: 1% !important;
        margin: 0 !important;
    }

    .service-row {
        padding: 0 !important;
        margin: 0 !important;
    }

    .right-form{min-width: 100%;
        margin-right:0% !important;
    position: relative !important;
    right: 0px !important;margin-top: 5%;
   
    }
.sec9-container{margin-top: 15% !important;}
}

@media (max-width:786px) {
    .left-cont {
        min-height: 500px
    }

    #navbarNavAltMarkup {
        animation: fadeInLeft;
        animation-duration: 1.5s;
    }

    nav {
        padding-top: 3%;
    }

    nav a {

        border-top: solid thin;
    }

    .active {
        border-top: none;
    }

    nav a.rounded-pill {

        margin-top: 10px;
        margin: auto !important;
    }

    .inner-nav {
        min-width: 90%;
    }

    .inner-nav a {
        text-align: center;
    }

    .sec1-col3 {
        padding: 2% 0;
    }

    .container-links {
        width: 100% !important;
        padding: 0 !important;
    }

    .input-container {
        border-radius: 20px !important;
    }

    .input-container a {
        max-width: 90% !important;
        margin: auto;
        padding: 10px 20px !important;
    }

    .rocket {
        max-width: 50% !important;
    }
    .sec9-container{margin-top: 30% !important;}
    
}

@media (max-width:320px) {

    .sec2-container,
    .service-row {
        padding: 0 !important;
        margin: 0 !important;
    }


}

.fixed-arrow {
    position: fixed;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #ffcdbc;
    right: 1%;
    bottom: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.plan-card1 {
    background-image: url(../img/first-plan-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;

}

.plan-card2 {
    background-image: url(../img/second-plan-bg.png);

    background-repeat: no-repeat;
    background-size: 100%;

}

.plan-card3 {
    background-image: url(../img/third-plan-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.sec5-grand-container {

    background-image: url(../img/tables-right-dec.png), url(../img/tables-left-dec.png);
    background-position: right, left;
    background-repeat: no-repeat, no-repeat;
    background-position-y: 50%, 50%;
    padding-bottom: 10% !important;
}

.email-container {
    background-image: url(../img/subscribe-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px !important;
    position: relative;
    margin-top: -3% !important;
}

.rocket {
    position: absolute !important;
    top: -5%;
    right: -1%;
}

.sec7-container {
    background-image: url(../img/videos-right-dec.png), url(../img/videos-left-dec.png);
    background-position: right, left;
    background-repeat: no-repeat, no-repeat;
    background-position-y: 0%, 30%;
}

.left-cont {
    border-radius: 20px;
    background-repeat: no-repeat;
}

.video-img {
    background-image: url(../img/hover-bg.png);

    border-bottom-right-radius: 20px;

}

.right-cont {
    border-radius: 20px;
}

.right-cont.r1 {
    background-image: url(../img/hover-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 10%;
    padding: 7% 4% !important;
}

.right-cont.r2 {
    position: relative;
    margin: 0;
}

.right-cont.r3 {
    position: relative;
    margin: 0;
}

.right-cont.r4 {
    position: relative;
    margin: 0;
}

.sec8-container {
    background-image: url(../img/contact-dec.png), url(../img/contact-left-dec.png),url(../img/footer-dec.png);
    background-position: right, left,bottom;
    background-repeat: no-repeat, no-repeat,no-repeat;
    background-position-y: 100%, 30%;
    background-size: auto,auto,100%    ;
   /* margin-bottom: 5%  !important;*/
    height: 1200px;
}

.right-form {
    background-image: url(../img/contact-form-bg.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius:20px;
    right: 15%;top: 20%;
    padding:4% !important;
    width: 35% !important;
}
.tel-container p{    
    margin: 0 !important;}

    #footer-mail::placeholder{color: white;opacity: .7;}